@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif
}

html, body {
    background-color: black;
}


h1#h1intro {
    text-align: center;
    color: white;
    padding: 50px 0px 50px 0px;
}

section.introducao h2 {
    text-align: center;
    padding: 25px 0px 25px 0px;
}

section.introducao {
    background-color: white;
    width: 800px;
    margin: auto;
}

section.introducao > article > p {
    text-indent: 5%;
    text-align: justify;
    padding: 0px 25px 60px 25px;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

section.introducao ul {
    text-align: center;
}

section.introducao ul li{
   display: inline;
   padding: 0px 50px 0px 50px;
}

section.introducao ul a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bolder;
}

section.introducao div#iframe {
    text-align: center;
    margin: 40px 0 10px 0px;
}

section.introducao iframe {
    width: 750px;
    height: 395.3px;
}

section.introducao > p {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 20px 0px 30px 0px ;
    text-align: center;
    
}

section.introducao > p > a {
    text-decoration: none;
    color: black
}

section.image {
    background-color: brown;
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 150px 0px 150px 0px;
    box-shadow: inset 0px 6px 13px rgba(0, 0, 0, 0.450);
    background: url(../imagens/pexels-pixabay-235985.jpg) no-repeat fixed;
}

section.image a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.618);
}

section.image a:hover {
    color: rgba(255, 255, 255, 0.652);
    transition-duration: 0.8s;
}

section.texto {
    background-color: white;
    width: 800px;
    margin: auto;
    text-indent: 5%;
    text-align: justify;
}

section.texto2 {
    background-color: white;
    width: 800px;
    margin: auto;
    text-indent: 5%;
    text-align: justify;
}

section.texto p {
    padding: 30px 25px 30px 25px;
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

section.texto2 p#textodort {
    padding: 30px 25px 50px 25px;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    text-align: center;
    color: white;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
    text-decoration: underline;
}